<form class="grid" [formGroup]="hotelForm" (ngSubmit)="onSubmit()">

    <div class="col-6">
        <div class="flex flex-column gap-2">
            <label class="">Nombre</label>
            <input pInputText formControlName="name" [ngClass]="{'ng-invalid': globalService.isFieldInvalid(name), 'ng-dirty': globalService.isFieldInvalid(name)}" placeholder="Hotel Plaza" />
            <div *ngIf="globalService.isFieldInvalid(name, 'required')">
                <small style="color: #ef4444;">Este campo no puede estar vació</small>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="flex flex-column gap-2">
            <label class="">Ciudad</label>
            <p-dropdown [options]="cities" formControlName="city" optionLabel="name" [ngClass]="{'ng-invalid': globalService.isFieldInvalid(city), 'ng-dirty': globalService.isFieldInvalid(city)}" placeholder="Seleccione un tipo de habitación"></p-dropdown>
            <div *ngIf="globalService.isFieldInvalid(city, 'required')">
                <small style="color: #ef4444;">Este campo no puede estar vació</small>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="flex flex-column gap-2">
            <label class="">Imagen Url</label>
            <input pInputText  formControlName="image" [ngClass]="{'ng-invalid': globalService.isFieldInvalid(name), 'ng-dirty': globalService.isFieldInvalid(image)}" placeholder="https://myimage.png" />
            <div *ngIf="globalService.isFieldInvalid(image, 'required')">
                <small style="color: #ef4444;">Este campo no puede estar vació</small>
            </div>
            <div *ngIf="image.errors?.pattern">
                <small style="color: #ef4444;">Por favor, ingresa una URL válida para la imagen del hotel. La URL debe comenzar con 'https://' y debe terminar en '.jpg', '.jpeg' o '.png'.</small>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="flex flex-column gap-2">
            <label class="">Costo promedio por noche</label>
            <input pInputText currencyMask  formControlName="night_price" type="text" placeholder="200.000" [options]="{ prefix: 'COP$ ', thousands: ',', decimal: '.' }"/>
            <div *ngIf="globalService.isFieldInvalid(night_price, 'required')">
                <small style="color: #ef4444;">Este campo no puede estar vació</small>
            </div>
        </div>
    </div>
   
    <p-button icon="pi pi-plus-circle" styleClass="p-button-success mt-3" [label]="isEditing ? 'Editar' : 'Guardar'" type="submit"></p-button>
</form>
<p-toast key="toastSuccess" position="bottom-center"></p-toast>
