
<div style="display: flex;justify-content: center;">
    <div class="grid mt-5">
        
<p-card *ngFor="let hotel of hotels" class="sm:col-12 md:col-4 lg:col-4" [header]="hotel.name" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <!-- <ng-template pTemplate="header">
        {{ hotel.name }}
    </ng-template> -->
    <img [src]="hotel.image" [width]="313" [height]="246" alt="{{ hotel.name }}" />
    <ng-template pTemplate="footer">
        <div class="footer-container">
            <span> {{ hotel.price | currency: 'USD': 'symbol' }}</span>
            <button pButton type="button" label="Reservar" class="p-button-success"></button>
        </div>
       
    </ng-template>
</p-card>
    
    </div>
</div>
