
<div class="card flex justify-content-center mt-5">
    <h2>Filtros</h2>
</div>
<div class="card flex justify-content-center gap-2">
    
    
    <div class="flex flex-row gap-2 mt-3">
        <mat-form-field color="accent">
            <mat-label>Fecha de entrada</mat-label>
            <input matInput [formControl]="checking_date" [matDatepicker]="picker2" [min]="minDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de salida</mat-label>
            <mat-date-range-input  [rangePicker]="picker" [min]="minDate" [formGroup]="checkout_date_range" >
              <input matStartDate placeholder="Fecha entrada" formControlName="start">
              <input matEndDate placeholder="Fecha salida" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker ></mat-date-range-picker>
        </mat-form-field>
    </div>

    <div class="flex flex-column gap-2">
        <label class="">Ciudad</label>
        <p-autoComplete [(ngModel)]="selectedCity" [dropdown]="true" [suggestions]="filteredCities" (completeMethod)="filterCity($event)" field="name" placeholder="Seleccione la ciudad"></p-autoComplete>
    </div>
    

    <div class="flex flex-column gap-2">
        <label class="">Huéspedes</label>
        <p-dropdown [options]="guestsQuantityList" (ngModelChange)="guestsListChanged($event)" [ngModel]="selectedPeople" optionLabel="label" [virtualScrollItemSize]="20" placeholder="Cantidad de huéspedes"></p-dropdown>
    </div>
</div>

<div style="display: flex;justify-content: center;">
    <div class="grid mt-5">
        
<p-card *ngFor="let hotel of hotels" class="sm:col-12 md:col-4 lg:col-4" [header]="hotel.name" [style]="{'width': '25rem', 'margin-bottom': '2em'}">

    <img [src]="hotel.image" [width]="313" [height]="246" alt="{{ hotel.name }}" />
    <ng-template pTemplate="footer">
        <span>{{hotel.city}}</span>
        <div class="footer-container">
            <span> {{ hotel.night_price | currency: 'COP': 'symbol' }} noche</span>
            <button pButton routerLink="/home/booking-form" [queryParams]="{'hotel': hotel.id}" label="Reservar" class="p-button-success"></button>
        </div>
       
    </ng-template>
</p-card>
    
    </div>
</div>
