
<div class="card flex justify-content-center mt-5">
    <h2>Filtros</h2>
</div>
<div class="card flex justify-content-center gap-2">
    
    
    <div class="flex flex-column gap-2">
        <label class="">Ciudad</label>
        <p-autoComplete [(ngModel)]="selectedCity" [dropdown]="true" [suggestions]="filteredCities" (completeMethod)="filterCity($event)" field="name" placeholder="Seleccione la ciudad"></p-autoComplete>
    </div>

    <div class="flex flex-column gap-2">
        <label class="">Seleccione rango de estadía</label>
        <p-calendar selectionMode="range" [readonlyInput]="true" [showIcon]="true" [showButtonBar]="true"></p-calendar>
    </div>

    <div class="flex flex-column gap-2">
        <label class="">Huéspedes</label>
        <p-dropdown [options]="guestsQuantityList" (ngModelChange)="guestsListChanged($event)" [ngModel]="selectedPeople" optionLabel="label" [virtualScrollItemSize]="20" placeholder="Cantidad de huéspedes"></p-dropdown>
    </div>
</div>

<div style="display: flex;justify-content: center;">
    <div class="grid mt-5">
        
<p-card *ngFor="let hotel of hotels" class="sm:col-12 md:col-4 lg:col-4" [header]="hotel.name" [style]="{'width': '25rem', 'margin-bottom': '2em'}">

    <img [src]="hotel.image" [width]="313" [height]="246" alt="{{ hotel.name }}" />
    <ng-template pTemplate="footer">
        <span>{{hotel.city}}</span>
        <div class="footer-container">
            <span> {{ hotel.night_price | currency: 'USD': 'symbol' }} noche</span>
            <button pButton routerLink="/home/booking-form" [queryParams]="{'hotel': hotel.id}" label="Reservar" class="p-button-success"></button>
        </div>
       
    </ng-template>
</p-card>
    
    </div>
</div>
