<p-menubar >
    <ng-template pTemplate="start" >
        <img src="assets/img/logo.png" routerLink="/home" class="logo" alt="logo" >
    </ng-template>

    <ng-template pTemplate="end" >
        <button class="p-button-danger" routerLink="/home" pButton label="Cerrar sesión" icon="pi pi-sign-out"   ></button>

      </ng-template>
</p-menubar>

<div class="flex flex-row ">
    <p-panelMenu [model]="items" class="mt-3" [style]="{'width':'300px'}"  >
    </p-panelMenu>
    <div class="grid ml-8">
        <div class="flex justify-content-center col-12 ">
            <router-outlet ></router-outlet>
        </div>
        
    </div>
</div>