<p-menubar >
    <ng-template pTemplate="start" >
        <img src="assets/img/logo.png" routerLink="/home" class="logo" alt="logo" >
    </ng-template>

    <ng-template pTemplate="end" >
        <button class="p-button-danger" routerLink="/home" pButton label="Cerrar sesión" icon="pi pi-sign-out"   ></button>

      </ng-template>
</p-menubar>

<div class="grid mt-3">
    <p-panelMenu [model]="items" [style]="{'width':'300px'}" class="col-2 "  >
    </p-panelMenu>
    <div class="col-9 ">
        <router-outlet ></router-outlet>
    </div>
    
</div>