.logo{
    cursor: pointer;
    width: 83px;
    height: 53px;
}
.demo-inline-calendar-card {
    width: 300px;
}

p-dropdown > div > .p-dropdown  .p-component{
    width: 100% !important;
}